
SUPABASE_URL="https://yntuigdplwdkqjvvtood.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InludHVpZ2RwbHdka3FqdnZ0b29kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTIwOTA5MCwiZXhwIjoyMDg2Nzg1MDkwfQ.1A6UsTW7emRoIvJ43e4b5pT-t3ltZgdsvL2VnvHSuTA"
SUPABASE_TABLE_NAME="file_documents"
GOOGLE_API_KEY="AIzaSyBnk0eJpLckv4ODDjt5GICW74jkIpZlxUo"
ENV_MODE="development"
APP_NAME="DataChatApp"
APP_VERSION="1.0.0"
SUPABASE_FUNCTION_NAME = "execute_raw_sql"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InludHVpZ2RwbHdka3FqdnZ0b29kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMDkwOTAsImV4cCI6MjA4Njc4NTA5MH0.fzrVvIFRK4qL89ODBHZWkGozDp-p7eAdxj3vi14-O4Y"    
